<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo AngularJs</title>
</head>
<body ng-app='taskManager'>
    <h1>Task Manager</h1>
    <div ng-controller='taskCtrl as ctrl'>
        <div ng-repeat='task in ctrl.tasks'>

            <!-- We can replace after use the class the ctrl.complete($index)
                to use the Class one that is task.complete() -->
            <input type='checkbox' ng-checked='task.completed'
                ng-click='task.complete()'/>
            {{task.name}}
        </div>
    </div>
    
    
</body>
</html>